@media screen and (max-width:1900px){
   
}
@media screen and (max-width:1200px){
.web-1, .web-2, .web-3 {
    width: 340px;
    height: 300px;
    margin-left: 27px;
    margin-left: 27px;
}
.btns {
    margin-left: 43px;
}
#about {
    margin-left: 33px;
}
}
@media screen and (max-width:991px){
    .contact {
    padding: 46px 5px 35px 5px;
}
}
/* @media screen and (max-width:767px){
    .box-right {
    margin-top: 0;
}
.icons-cnct {
   
    margin-top: -431px;
    flex-direction: column;
    margin-left: 404px;
}
.contact h3 {
    font-size: 26px;
    font-weight: 600;
}
.paragraph {
    padding-left: 20px;
    text-align: center;
}
} */
@media screen and (max-width:767px){
    .icons {
    left: 290px;
    top: 125px;
    width: 80px;
    padding: 20px;
    gap: 10px;
}
.about .cta-btn-1 {
    margin: 0;
    width: 150px;
}
#tools {
    display: flex;
    margin-top: 500px;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 75px;
}
.tools-cnt p {
    text-align: center;
}

.about {

    padding-left: 0px;
    padding-right: 0px;
   
}
.icons {
    display: flex;
    flex-direction: column;
    margin-left: 41px;
    margin-top: -48px;
   
}
.d-flex {
    display: flex!important;
    justify-content: center;
}
.icons-cnct {
    margin-top: -419px;
    flex-direction: column;
    margin-left: 342px;

}
.contact h3 {
    font-size: 22px;
    font-weight: 600;
}
#tools {
    margin-left: 5px;
     margin-top: 359px;
}
.web-1, .web-2, .web-3 {
    margin-left: 60px;
    margin-top: 25px;
}
.btns {
    margin-left: 69px;
    margin-top: 315px;
}
.arrow-btns {
   display: none;
}
.explore-btn {
    margin-left: 52px;
    margin-top: 55px;
}
#about {
    margin-left: 14px;
    margin-right: 14px;
    margin-top: 252px;

}
.left-cnt {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 16px; */
    margin-top: -34px;
    margin-left: 81px;
}
#hero {
    height: 154vh;
}
.left-cnt span {
    display: flex;
    margin-top: 34px;
    max-width: 100%;
    margin-left: -43px;
    text-align: center;
    right: 20px;
    margin-right: 20px;
}
.left-cnt h1 {
    margin-top: 141px;
}
.left-cnt h2 {
    text-align: center;
    margin-left: -55px;
}
    .box-right {
    margin-top: 0;
}

.paragraph {
    padding-left: 20px;
    text-align: center;
}
.timeline__event__icon {
    margin: 0 auto 20px;
}
.timeline__event {
    flex-direction: column !important;
    width: 70vw;
}
.timeline__event__content, .timeline__event__date {
    width: 100% !important;
    border-radius: 10px !important;
}
.timeline__event__content, .timeline__event__date {
    width: 100% !important;
    border-radius: 10px !important;
}
.work p {
    width: 50%;
}
#tools {
    margin-left: 68px;
    margin-top: 359px;
    margin-right: -110px;
}
}
@media screen and (max-width:576px){
#tools {
    display: flex;
    margin-top: 420px;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 75px;
}
#hero {
    width: 589px;
}
.left-cnt {
    margin-left: 129px;
}
#about {
    margin-left: 28px;
    margin-right: -174px;
}
.icons {
    margin-left: 125px;
    margin-top: -57px;
}
.paragraph p {
    font-size: 15px;
    padding: 5px 27px;
}
#work {
    width: 590px;
}
#portfolio {
    margin-left: 65px;
}
#education {
    /* padding-top: 199px; */
    margin-top: 200px;
    padding-bottom: 1px;
}
section#contact {
    margin-left: 8px;
}
.icons-cnct {
    margin-left: 445px;
}
}
@media screen and (max-width:332px){
   #about {
    margin-left: 28px;
    margin-right: -174px;
}



}